<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<label>Name: </label>
<a th:text="${user.getName()}">VALUE</a>
</br>
<label >Last Name: </label>
<a th:text="${user.getLastName()}">VALUE</a>
</br>
<label>Age: </label>
<a th:text="${user.getAge()}">VALUE</a>
</br>

<form action="#" th:method="GET" th:action="@{/{id}/update(id=${user.getId()})}">
    <input type="submit" VALUE="Edit"/>
</form>
<form action="#" th:method="GET" th:action="@{/delete/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>